[Unit]
Description=dde-fake-session target
DefaultDependencies=no

Requires=dde-fake-session-initialized.target
After=dde-fake-session-initialized.target

BindsTo=dde-fake-session.service
After=dde-fake-session.service
