[Unit]
Description=dde-fake-session-initialized target, task to initialize the desktop environment.
OnFailureJobMode=replace-irreversibly
DefaultDependencies=no
RefuseManualStart=yes
RefuseManualStop=yes

Requisite=dde-fake-session.target
PartOf=dde-fake-session.target
Before=dde-fake-session.target
