Source: treeland
Priority: optional
Maintainer: rewine <luhongxu@deepin.org>
Build-Depends: cmake (>= 3.25.0),
               debhelper-compat (= 13),
               ninja-build,
               extra-cmake-modules (>= 1.4.0~),
               libddm-dev (>> 0.3.4),
               libdtk6core-bin,
               libdtk6core-dev,
               libdtk6declarative-dev,
               libdtk6gui-dev,
               libdtk6systemsettings-dev,
               libdtkcommon-dev,
               libsystemd-dev [linux-any],
               systemd,
               libwayland-dev (>= 1.23.1),
               libxkbcommon-dev,
               libudev-dev,
               libseat-dev,
               libdisplay-info-dev (>= 0.1.1),
               libliftoff-dev (>= 0.4.1),
               liblcms2-dev,
               libinput-dev,
               libegl1-mesa-dev,
               libegl-dev,
               libgbm-dev,
               libgles2-mesa-dev,
               libvulkan-dev,
               glslang-tools,
               hwdata,
               libcap-dev,
               libcairo2-dev,
               libdrm-dev (>= 2.4.122),
               libpixman-1-dev (>= 0.43.0),
               libpng-dev,
               libx11-xcb-dev,
               libxcb1-dev,
               libxcb-composite0-dev,
               libxcb-dri3-dev,
               libxcb-errors-dev,
               libxcb-ewmh-dev,
               libxcb-icccm4-dev,
               libxcb-image0-dev,
               libxcb-present-dev,
               libxcb-render0-dev,
               libxcb-render-util0-dev,
               libxcb-res0-dev,
               libxcb-shm0-dev,
               libxcb-xfixes0-dev,
               libxcb-xinput-dev,
               pkg-config,
               qml6-module-qtquick-templates,
               qml6-module-qtquick-effects,
               qt6-base-dev (>= 6.8.0),
               qt6-base-private-dev (>= 6.8.0),
               qt6-base-dev-tools (>= 6.8.0),
               qt6-declarative-dev (>= 6.8.0),
               qt6-declarative-private-dev (>= 6.8.0),
               qt6-shadertools-dev,
               qt6-tools-dev,
               qt6-tools-dev-tools (>= 6.8.0),
               qt6-wayland,
               qt6-wayland-dev,
               qt6-wayland-private-dev,
               qt6-remoteobjects-dev,
               wayland-protocols,
               wlr-protocols,
               treeland-protocols (>= 0.5.9),
               libpam0g-dev,
               libmpv-dev,
               libxcb-randr0-dev,
               xwayland,
Standards-Version: 4.6.0
Section: dde
Homepage: https://github.com/linuxdeepin/treeland.git
#Vcs-Browser: https://salsa.debian.org/debian/treeland
#Vcs-Git: https://salsa.debian.org/debian/treeland.git
Rules-Requires-Root: no

Package: treeland
Section: dde
Architecture: any
Multi-Arch: same
Depends: qml6-module-qtquick-layouts,
         qml6-module-qtquick-effects,
         qml6-module-qtquick-particles,
         treeland-data (= ${source:Version}),
         xwayland,
         treeland-wallpaper-factory,
         ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libwaylib, qwlroots
Replaces: libwaylib, qwlroots
Recommends: ddm (>> 0.3.4),
Description: a Wayland compositor based on wlroots and QML, designed with an attractive and elegant appearance.

Package: treeland-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         treeland (= ${source:Version}),
Conflicts: libwaylib-dev, qwlroots
Replaces: libwaylib-dev, qwlroots
Description: a Wayland compositor based on wlroots and QML, designed with an attractive and elegant appearance.

Package: treeland-examples
Section: dde
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: examples for treeland.

Package: treeland-data
Section: dde
Architecture: all
Depends: ${misc:Depends},
Description: data files of treeland.

Package: treeland-wayland-session
Section: dde
Architecture: all
Depends: ${misc:Depends},
         treeland (= ${source:Version}),
Description: treeland user session files of treeland.

Package: treeland-wallpaper-factory
Section: dde
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         treeland (= ${source:Version}),
Description: Treeland wallpaper factory client.
