[Unit]
Description=fake dde-osd service
RefuseManualStart=no
RefuseManualStop=no
StartLimitBurst=3
CollectMode=inactive-or-failed

Requisite=dde-fake-session-initialized.target
PartOf=dde-fake-session-initialized.target
Before=dde-fake-session-initialized.target

Requires=dbus.socket
After=dbus.socket

[Service]
Type=simple
ExecStart=/usr/lib/deepin-daemon/dde-osd
TimeoutStartSec=infinity
Slice=session.slice
Restart=on-failure
RestartSec=1s

