[Unit]
Description=Deepin Application Manager
RefuseManualStart=no
RefuseManualStop=no
StartLimitBurst=3
CollectMode=inactive-or-failed

Requisite=dde-fake-session-initialized.target
PartOf=dde-fake-session-initialized.target
Before=dde-fake-session-initialized.target

[Service]
Type=simple
ExecStart=/usr/bin/dde-application-manager
Environment=QT_LOGGING_RULES="*.debug=false"
# turn off PrivateUser to prevent AM can't access some directory. eg. "/persistent/linglong"
PrivateUsers=false
Slice=session.slice
Restart=always
RestartSec=500ms
