[Unit]
Description=deepin input method daemon service
RefuseManualStart=no
RefuseManualStop=no
# Limit startup frequency more than the default
StartLimitIntervalSec=15s
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/usr/bin/dim
SuccessExitStatus=1
Slice=session.slice
Restart=on-failure
RestartSec=1s