polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.login1.manage" && subject.user == "dde") {
        return polkit.Result.YES;
    }
});
